venv/
.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
.env.local
tests/
*.md
.git/
.gitignore
.dockerignore
docker-compose.yml
GDM_API.postman_collection.json
